<footer class="page-footer bg-color">
    <% if(theme.music.enable && theme.music.fixed){ %>
        <%- partial('_widget/music') %>
    <% } %>
    <div class="container row center-align" style="margin-bottom: 0px !important;">
        <% if (theme.visiterMap.enable) { %>
            <div class="col s12 m3 l3 social-link" id="visitmap">
                <a target="_blank" rel="noopener external nofollow noreferrer" href="https://clustrmaps.com/site/1bgbn"
                   title="Visit tracker">
                    <img src="/medias/detail/map_v2.png"
                         style="filter: brightness(1);" alt="访客地图">
                </a>
            </div>
        <%}%>
        <div class="col s12 m6 l6 copy-right">
            Copyright&nbsp;&copy;
            <% if (theme.time.year !== new Date().getFullYear()) { %>
                <span id="year"><%- theme.time.year %>-<%- new Date().getFullYear() %></span>
            <% } else { %>
                <span id="year"><%- theme.time.year %></span>
            <% } %>
            <a href="<%- url_for('/about') %>" target="_blank"><%- config.author %></a>
            |&nbsp;Powered by&nbsp;<a href="https://hexo.io/" target="_blank">Hexo</a>
            <br/>
            <% if (theme.postInfo.totalCount) { %>
                &nbsp;<i class="fas fa-chart-area"></i>&nbsp;站点总字数:&nbsp;<span
                        class="white-color"><%= totalcount(site) %></span>&nbsp;
            <% } %>
            <% let socialClass = '' %>
            <% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
                <% socialClass = 'social-statis' %>
            <% } %>
            <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalTraffic) { %>
                <span id="busuanzi_container_site_pv">
                |&nbsp;<i class="far fa-eye"></i>&nbsp;总浏览量:&nbsp;<span id="busuanzi_value_site_pv"
                                                                        class="white-color"></span>&nbsp;
            </span>
            <% } %>
            <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalNumberOfvisitors) { %>
                <span id="busuanzi_container_site_uv">
                |&nbsp;<i class="fas fa-users"></i>&nbsp;总访问人数:&nbsp;<span id="busuanzi_value_site_uv"
                                                                           class="white-color"></span>&nbsp;人
            </span>
            <% } %>
            <br>
            <% if (theme.time.enable) { %>
                <span id="sitetime">载入运行时间...</span>
                <script>
                    function siteTime() {
                        var seconds = 1000;
                        var minutes = seconds * 60;
                        var hours = minutes * 60;
                        var days = hours * 24;
                        var years = days * 365;
                        var today = new Date();
                        var startYear = "<%- theme.time.year %>";
                        var startMonth = "<%- theme.time.month %>";
                        var startDate = "<%- theme.time.date %>";
                        var startHour = "<%- theme.time.hour %>";
                        var startMinute = "<%- theme.time.minute %>";
                        var startSecond = "<%- theme.time.second %>";
                        var todayYear = today.getFullYear();
                        var todayMonth = today.getMonth() + 1;
                        var todayDate = today.getDate();
                        var todayHour = today.getHours();
                        var todayMinute = today.getMinutes();
                        var todaySecond = today.getSeconds();
                        var t1 = Date.UTC(startYear, startMonth, startDate, startHour, startMinute, startSecond);
                        var t2 = Date.UTC(todayYear, todayMonth, todayDate, todayHour, todayMinute, todaySecond);
                        var diff = t2 - t1;
                        var diffYears = Math.floor(diff / years);
                        var diffDays = Math.floor((diff / days) - diffYears * 365);
                        var diffHours = Math.floor((diff - (diffYears * 365 + diffDays) * days) / hours);
                        var diffMinutes = Math.floor((diff - (diffYears * 365 + diffDays) * days - diffHours * hours) /
                            minutes);
                        var diffSeconds = Math.floor((diff - (diffYears * 365 + diffDays) * days - diffHours * hours -
                            diffMinutes * minutes) / seconds);
                        if (startYear == todayYear) {
                            document.getElementById("year").innerHTML = todayYear;
                            document.getElementById("sitetime").innerHTML = "The site has been running for " + diffDays + " y " + diffHours +
                                " h " + diffMinutes + " m " + diffSeconds + " s";
                        } else {
                            document.getElementById("year").innerHTML = startYear + " - " + todayYear;
                            document.getElementById("sitetime").innerHTML = "The site has been running for " + diffYears + " y " + diffDays +
                                " d " + diffHours + " h " + diffMinutes + " m " + diffSeconds + " s";
                        }
                    }

                    setInterval(siteTime, 1000);
                </script>
            <% } %>
            <br>
            <% if (theme.icp.enable) { %>
                <span id="icp"><img src="https://files.islu.cn/detail/icp.png" style="vertical-align: text-bottom;"/>
                <a href="<%- url_for(theme.icp.url) %>" target="_blank"><%= theme.icp.text %></a>
            </span>
            <% } %>
        </div>
        <div class="col s12 m3 l3 social-link social-statis <%- socialClass %>"><%- partial('_partial/social-link') %></div>
        <% if (theme.youpai.enable) { %>
            <img style="height:67px;cursor:pointer" src="/medias/detail/logo2.png" alt="又拍云"
                 onclick="location.href='https://www.upyun.com/?utm_source=lianmeng&amp;utm_medium=referral'">
        <% } %>
    </div>
</footer>

<div class="progress-bar"></div>

{% if (theme.mermaid.enable)  %}
  <script src='https://unpkg.com/mermaid@{{ theme.mermaid.version }}/dist/mermaid.min.js'></script>
  <script>
    if (window.mermaid) {
      mermaid.initialize({theme: 'forest'});
    }
  </script>
{% endif %}

<div id="cc-myssl-id" style="position: fixed;right: 0;bottom: 0;width: 65px;height: 65px;z-index: 99;">
    <a href="https://myssl.com/blog.guxinlei.tk?from=mysslid"><img src="https://static.myssl.com/res/images/myssl-id.png" alt="" style="width:100%;height:100%"></a>
</div>
