<script src="//cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
<link href="//cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet">
<style>
.pace .pace-progress {
    background: #f6a427; /*进度条颜色*/
        height: 3px;
}
	.pace .pace-progress-inner {
	     box-shadow: 0 0 10px #1E92FB, 0 0 5px     #1E92FB; /*阴影颜色*/
	     }
	     .pace .pace-activity {
	         border-top-color: #1E92FB;    /*上边框颜色*/
		     border-left-color: #1E92FB;    /*左边框颜色*/
		     }
</style>

<!--    顶部导航栏   -->
<header class="navbar-fixed">
    <nav id="headNav" class="bg-color nav-transparent">
        <div id="navContainer" class="nav-wrapper container">
            <div class="brand-logo">
                <a href="<%- url_for() %>" class="waves-effect waves-light">
                    <div>
                        <% if (theme.logo !== undefined && theme.logo.length > 0) { %>
                            <img src="<%= theme.logo %>" class="logo-img" alt="LOGO">
                        <% } %>
                        <span class="logo-span"><%=theme.logTest%></span>
                    </div>
                </a>
            </div>
            <%- partial('_partial/navigation') %>
        </div>

        <% if (theme.githubLink && theme.githubLink.enable) { %>
            <%- partial('_partial/github-link') %>
        <% } %>
    </nav>

</header>
