/* build time:Thu Jan 20 2022 15:51:43 GMT+0800 (中国标准时间)*/
.toc{overflow-y:auto}.toc>.toc-list{overflow:hidden;position:relative}.toc>.toc-list li{list-style:none}.toc-list{margin:0;padding-left:10px}a.toc-link{color:currentColor;height:100%}.is-collapsible{max-height:1000px;overflow:hidden;transition:all .3s ease-in-out}.is-collapsed{max-height:0}.is-position-fixed{position:fixed!important;top:0}.is-active-link{font-weight:700}.toc-link::before{background-color:#eee;content:' ';display:inline-block;height:inherit;margin-top:-1px;position:absolute;width:2px}.is-active-link::before{background-color:#54bc4b}
/* rebuild by neat */